
.map-display text {
    font-family: 'GDS Transport',arial,sans-serif;
}

.map-display text {
    font-size: 10px;
}

.map-display .choropleth-legend text {
    font-size: 4px;
    dominant-baseline: hanging;
}

.map-display .inset-zoom text {
    font-size: 4px;
}

.map-display .title text {
    dominant-baseline: hanging;
    font-size: 10px;
}


